[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
flask = "*"
flask-cors = "*"
requests = "*"

[dev-packages]

[scripts]
start = "python email-verification-backend/verify_email.py"

