/* Contenedor para la descripción, tarjeta y botón */
.about-contain-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  margin-top: 4rem;
  max-width: 95%;
  opacity: 0;
  
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    10px 10px 20px rgba(0, 0, 0, 0.4),
    -10px -10px 20px rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}


/* Contenedor de la descripción a la izquierda */
.about-description-container {
  width: 70%;
  color: #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

/* Estilos para los encabezados y párrafos en la sección "Sobre mí" */
.about-heading-garamond,
.about-title,
h5 {
  font-family: 'EB Garamond', serif;
  color: #d1d1d1;
}

.about-title {
  
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7),
    4px 4px 8px rgba(0, 0, 0, 0.6),
    6px 6px 12px rgba(0, 0, 0, 0.5);
}

.about-heading-large {
  font-family: 'EB Garamond', serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7),
    4px 4px 8px rgba(0, 0, 0, 0.6),
    6px 6px 12px rgba(0, 0, 0, 0.5);
}

h5 {
  font-size: 2rem;
}

.about-paragraph {
  font-family: 'EB Garamond', serif;
  font-size: 1.3rem;
  text-align: justify;
  color: whitesmoke;
  margin-top: 1.5rem;
}


.highlight {
  color: #b8bdbf;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 2px;
  text-shadow: 0 0 5px rgba(39, 41, 42, 0.4);
  font-weight: bold;
}

h4, h5, p {
  margin: 0;
}


/* Estilos para la tarjeta */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-left: 2rem;
}

.card {
  width: 300px;
  height: 393px;
  perspective: 1000px;
  background-color: transparent;
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid #b3b3b3;
  cursor: pointer;
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e0d0d;
}

.card-back {
  transform: rotateY(180deg);
}

/* Logo en el centro de la tarjeta */
.card-logo {
  width: 250px;
  height: auto;
  background-color: transparent;
}

.about-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Efecto de rotación al hacer clic */
.card.flipped .card-inner {
  transform: rotateY(180deg);
}

/* Estilos específicos para el enlace del CV */
.cv-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.cv-link:hover {
  color: #c0c0c0; /* Gris oscuro al pasar el ratón */
}

.cv-link:visited {
  color: white; /* Color blanco al visitarlo */
}

.cv-link:visited:hover {
  color: #c0c0c0 !important; /* Gris oscuro al pasar el ratón */
}



/* MEDIAS QUERIES */

@media screen and (min-width: 1550px) {
  .about-title {
    font-size: 2.8rem;
  }

  .about-heading-large {
    font-size: 2.3rem;
  }

  h5 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1400px) {
  .about-title {
    font-size: 2.6rem;
  }

  .about-heading-large {
    font-size: 2.1rem;
  }

  h5 {
    font-size: 1.6rem;
  }
}

/* Media Query para 1250px */
@media screen and (max-width: 1250px) {
  .about-title {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 1025px) {
  .about-contain-container {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .about-description-container {
    width: 100%;
  }

  .about-title {
    font-size: 2.3rem;
  }

  .about-heading-large {
    font-size: 1.9rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  .card-container {
    margin: auto;
    padding: 0;
    width: 100%;
  }

  .card-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .about-title {
    font-size: 2.2rem;
  }

  .about-heading-large {
    font-size: 1.8rem;
  }

  .about-contain-container {
    margin-top: 3rem;
    padding-left: 20px;
    padding-right: 20px;
    gap: 2rem;
  }

  .about-container {
    height: auto;
    overflow-y: auto;
  }

  .navigation-links {
    justify-content: center;
    gap: 1rem;
    padding-left: 0;
    flex-direction: column;
  }

}

@media screen and (max-width: 480px) {
  .inner-frame{
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-contain-container {
    margin-top: 2rem;
    padding-left: 10px;
    padding-right: 10px;
  }
}
