/* Contenedor principal */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #090909, #b3b3b3);
  position: relative;
  padding: 2vh 2vw;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
}



/* Marco interno con borde degradado */
.inner-frame {
  width: calc(100% - 2rem);
  height: calc(100% - 6vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #b3b3b3, #090909) 1;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 10vh;
  margin-bottom: 6vh;
  position: relative;
}

/* Línea superior con degradado en el centro */
.inner-frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    #b3b3b3 5%,
    rgba(179, 179, 179, 0.5) 25%,
    rgba(179, 179, 179, 0.1) 30%,
    transparent 50%,
    rgba(9, 9, 9, 0.1) 70%,
    rgba(9, 9, 9, 0.5) 85%,
    #090909 95%
  );
  z-index: 1;
  transition: background 0.3s ease;
}

/* Contenedor del título superpuesto sobre la línea */
.title-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 0;
  background: transparent;
  width: 100%;
}

/* Texto "Sobre Mí" */
.about-title-text {
  font-family: 'Oooh Baby', cursive;
  font-size: clamp(2.5rem, 5vw, 6rem);
  color: white;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.about-description-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 60%;
  max-width: 800px;
  color: #dcdcdc;
  text-align: justify;
  line-height: 1.6;
  padding-left: 2%; /* Ajuste en porcentaje para el padding */
  margin-left: 5%; /* Ajuste en porcentaje para mantener el espacio */
}

.invisible {
  opacity: 0;
  visibility: hidden;
}


/* Estilos para los encabezados y párrafos en la sección "Sobre mí" */
.about-heading-poppins {
  font-family: 'Poppins', sans-serif; /* Fuente para encabezados tipo h3 */
}

.about-title {
  font-family: 'Poppins', sans-serif; /* Fuente para el h2 */
  font-size: 3rem; /* Tamaño del h2 */
  color: #d1d1d1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 0px 0px 3px rgba(255, 255, 255, 0.2);
}

.about-heading-large {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #d1d1d1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 0px 0px 3px rgba(255, 255, 255, 0.2); /* Sombra más profunda y definida */
}


.about-paragraph {
  font-family: 'Oooh Baby', cursive;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: white;
}

.highlight {
  color: #b8bdbf; /* O algún color que contraste suavemente */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* O un color que combine con el fondo */
  padding-bottom: 2px;
  text-shadow: 0 0 5px rgba(39, 41, 42, 0.4);
  font-weight: bold;
}




/* Estilos para la card */
.card {
  width: 300px;
  height: 393px;
  perspective: 1000px;
  background-color: transparent;
  position: absolute;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Front y back de la card con borde plateado */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e0d0d;
}

/* Aplicar marco plateado brillante en ambos lados */
.card-front::before, .card-back::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  background: linear-gradient(45deg, #C0C0C0, #ffffff, #C0C0C0);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  animation: shine 3s linear infinite;
  pointer-events: none;
}

.card-back {
  transform: rotateY(180deg);
}

/* Logo en el centro del frente de la card */
.card-logo {
  width: 250px;
  height: auto;
  background-color: transparent;
}

/* Imagen personal */
.about-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}



/* Estilos para el enlace "Volver", igual que en la sección de navegación del home */
.back-link {
  opacity: 0; /* Inicialmente oculto */
  position: absolute;
  bottom: 2vh; /* Ajusta según tu preferencia para colocarlo en la parte inferior */
  left: 5vw; /* Ajusta para alinear con el contenido principal */
  font-family: 'Oooh Baby', cursive;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: white;
  text-align: left;
  z-index: 2;
}

.back-link a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.back-link a:hover {
  color: #c0c0c0;
  font-size: 1.6rem; /* Efecto de aumento en hover */
}



/* Media Queries para ajustar el tamaño del título */
@media screen and (min-width: 1000px) {
  .about-title-text {
    font-size: 5.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .about-title-text {
    font-size: 5.8rem;
  }
}

@media screen and (min-width: 1400px) {
  .about-title-text {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1600px) {
  .about-title-text {
    font-size: 6.5rem;
  }
}

@media screen and (min-width: 2000px) {
  .about-title-text {
    font-size: 7.5rem;
  }
}
