/* Contenedor principal */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #090909, #b3b3b3);
  position: relative;
  padding: 2vh 2vw;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
}

/* Marco interno con borde degradado */
.inner-frame {
  width: calc(100% - 2rem);
  height: calc(100% - 6vh);
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #b3b3b3, #090909) 1;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 10vh;
  margin-bottom: 6vh;
  position: relative;
  flex-direction: column;
}

/* Línea superior con degradado en el centro */
.inner-frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
      to right,
      #b3b3b3 5%,
      rgba(179, 179, 179, 0.5) 25%,
      rgba(179, 179, 179, 0.1) 30%,
      transparent 50%,
      rgba(9, 9, 9, 0.1) 70%,
      rgba(9, 9, 9, 0.5) 85%,
      #090909 95%
    );
  z-index: 1;
  transition: background 0.3s ease;
}

/* Contenedor del título superpuesto sobre la línea */
.title-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 0;
  background: transparent;
  width: 100%;
}

/* Texto "Sobre Mí" */
.about-title-text {
  font-family: 'Oooh Baby', cursive;
  font-size: clamp(2.5rem, 5vw, 6rem);
  color: white;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

/* Contenedor para la descripción, tarjeta y botón */
.info-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  padding-left: 5rem;
  padding-right: 5rem;
}

/* Contenedor de la descripción a la izquierda */
.about-description-container {
  width: 70%;
  color: #dcdcdc;
  text-align: justify;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

/* Estilos para los encabezados y párrafos en la sección "Sobre mí" */
.about-heading-poppins, .about-title, h5 {
  font-family: 'Poppins', sans-serif;
  color: #d1d1d1;
}

.about-title {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7),
               4px 4px 8px rgba(0, 0, 0, 0.6),
               6px 6px 12px rgba(0, 0, 0, 0.5);
}

.about-heading-large {
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7),
               4px 4px 8px rgba(0, 0, 0, 0.6),
               6px 6px 12px rgba(0, 0, 0, 0.5);
}

h5 {
  font-size: 2rem;
}

.about-paragraph {
  font-family: 'Oooh Baby', cursive;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: white;
}

.highlight {
  color: #b8bdbf;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 2px;
  text-shadow: 0 0 5px rgba(39, 41, 42, 0.4);
  font-weight: bold;
}

/* Estilos para la tarjeta */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-left: 2rem;
}

.card {
  width: 300px;
  height: 393px;
  perspective: 1000px;
  background-color: transparent;
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e0d0d;
}

.card-back {
  transform: rotateY(180deg);
}

/* Logo en el centro de la tarjeta */
.card-logo {
  width: 250px;
  height: auto;
  background-color: transparent;
}

.about-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Enlace "Volver" y "Descargar CV" */
.link-container {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-self: flex-start;
  padding-left: 5rem;
  margin-top: 1.5rem;
}

.download-cv-link, .back-link a {
  font-family: 'Oooh Baby', cursive;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.download-cv-link:hover, .back-link a:hover {
  color: #c0c0c0;
  font-size: 1.6rem;
}

/* Efecto de rotación al hacer clic */
.card.flipped .card-inner {
  transform: rotateY(180deg);
}

/* MEDIAS QUERIES */

/* Media Queries para tamaños grandes */
@media screen and (min-width: 1000px) {
  .about-title-text {
    font-size: 5.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .about-title-text {
    font-size: 5.8rem;
  }
}

@media screen and (min-width: 1400px) {
  .about-title-text {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1600px) {
  .about-title-text {
    font-size: 6.5rem;
  }
}

@media screen and (min-width: 2000px) {
  .about-title-text {
    font-size: 7.5rem;
  }
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 1000px) {
  .about-title-text {
    font-size: 4.5rem;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
    margin: 1rem 0.5rem;
  }

  .about-description-container {
    width: 100%;
  }

  .about-paragraph {
    font-size: 1.1rem;
  }

  .about-title {
    font-size: 2.5rem;
  }

  .about-heading-large {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  .card-container {
    margin-top: 1rem;
    padding-left: 0;
  }

  .link-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .about-title-text {
    font-size: 3.5rem;
  }

  .about-title {
    font-size: 2.2rem;
  }

  .about-heading-large {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  .about-paragraph {
    font-size: 1rem;
  }

  .info-container {
    flex-direction: column;
    padding: 0.5rem 0.3rem;
    align-items: center;
  }

  .card-container {
    margin-top: 1rem;
  }

  .about-container {
    height: auto;
    overflow-y: auto;
  }

  .about-inner-frame {
    height: auto;
    min-height: unset;
    margin-top: 5vh;
  }

  .link-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .about-title-text {
    font-size: 3rem;
  }

  .about-title {
    font-size: 1.8rem;
  }

  .about-heading-large {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  .about-paragraph {
    font-size: 0.9rem;
  }

  .info-container {
    padding: 0.3rem 0.2rem;
  }

  .link-container {
    justify-content: center;
    gap: 1rem;
    padding-left: 0;
  }
}

@media (max-width: 440px) {
  .about-title-text {
    font-size: 2.2rem;
  }

  .about-title {
    font-size: 1.6rem;
  }

  .about-heading-large {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1rem;
  }

  .about-paragraph {
    font-size: 0.8rem;
  }

  .info-container {
    padding: 0.3rem 0.1rem;
  }

  .link-container {
    justify-content: center;
    gap: 1rem;
    padding-left: 0;
  }
}

@media (max-width: 340px) {
  .about-title-text {
    font-size: 2rem;
  }

  .about-title {
    font-size: 1.4rem;
  }

  .about-heading-large {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 0.9rem;
  }

  .about-paragraph {
    font-size: 0.7rem;
  }

  .info-container {
    padding: 0.2rem 0.1rem;
  }

  .link-container {
    justify-content: center;
    gap: 1rem;
    padding-left: 0;
  }
}
