/* Estilos críticos para la carga inicial */
html,
body {
    background: linear-gradient(to right, #090909, #b3b3b3);
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    overflow-x: hidden;
    transition: opacity 0.3s ease-in-out;
}

/* Clase para el estado de carga - se elimina con JavaScript */
html.is-loading {
    overflow: hidden;
}

/* Elimina márgenes y scroll durante el preloader */
body.no-scroll {
    overflow: hidden;
}

/* Estilos del loader */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #090909, #b3b3b3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
}

/* Estilo para la transición de desvanecimiento */
.loader-container.fade-out {
    opacity: 0;
}

/* Spinner animado */
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top: 4px solid #b3b3b3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}

/* Animación del spinner */
@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top-color: #b3b3b3;
    }

    50% {
        border-top-color: #575757;
    }

    100% {
        transform: rotate(360deg);
        border-top-color: #b3b3b3;
    }
}