.home-container {
  background: linear-gradient(to right, #c5b9a6, #ebe6de);
}

/* Contenedor principal */
.main-container {
  background: linear-gradient(to right, #c5b9a6, #ebe6de);
}

.home-inner-frame {
  border-image: linear-gradient(to right, #ebe6de, #c5b9a6) 1;
}

/* Línea superior con degradado en el centro */
.home-inner-frame::before {
  background: linear-gradient(to right,
      #ebe6de 5%,
      /* Más claro al inicio */
      rgba(235, 230, 222, 0.5) 25%,
      /* Transición a más claro */
      rgba(235, 230, 222, 0.1) 30%,
      /* Muy claro */
      transparent 50%,
      /* Transparente al centro */
      rgba(197, 185, 166, 0.1) 70%,
      /* Muy claro */
      rgba(197, 185, 166, 0.5) 85%,
      /* Transición a más oscuro */
      #c5b9a6 95%);
  /* Más oscuro al final */
  z-index: 1;
}

.inner-frame {
  border-image: linear-gradient(to right, #ebe6de, #c5b9a6) 1;
}

/* Línea superior con degradado en el centro */
.inner-frame::before {
  background: linear-gradient(to right,
      #ebe6de 5%,
      /* Más claro al inicio */
      rgba(235, 230, 222, 0.5) 25%,
      /* Transición a más claro */
      rgba(235, 230, 222, 0.1) 30%,
      /* Muy claro */
      transparent 50%,
      /* Transparente al centro */
      rgba(197, 185, 166, 0.1) 70%,
      /* Muy claro */
      rgba(197, 185, 166, 0.5) 85%,
      /* Transición a más oscuro */
      #c5b9a6 95%);
  /* Más oscuro al final */
  z-index: 1;
}

.home-title-text,
.home-nav-link {
  color: #7d7464;
}

.title-text,
.nav-link {
  color: #7d7464;
}

.about-title {
  color: #ebe6de;
}

.about-heading-large {
  color: #ebe6de;
}

.home-nav-link:hover {
  color: rgb(40, 8, 8);
  /* Crema suave */
  transform: scale(1.1);
  /* Efecto de aumento */
}

.nav-link:hover {
  color: rgb(40, 8, 8);
  /* Crema suave */
  transform: scale(1.1);
  /* Efecto de aumento */
}

/* Estilos específicos para el enlace del CV */
.cv-link {
  color: #7d7464;
}

.cv-link:hover {
  color: rgb(40, 8, 8);
}

.cv-link:visited {
  color: #7d7464;
}

.cv-link:visited:hover {
  color: rgb(40, 8, 8) !important;
}

/* Estilos para los encabezados y párrafos en la sección "Sobre mí" */
.about-heading-garamond {
  color: #7d7464;
}

.about-paragraph {
  color: #7d7464;
}

.highlight {
  color: rgba(40, 8, 8, 0.465);
  text-shadow: none;

}

.card-front {
  background: #7d7464;
}

.card-front,
.card-back {
  border: 2px solid #ebe6de;
}

.decorated-container {
  border: 2px solid rgba(248, 244, 240, 0.3);
  background: rgba(248, 244, 240, 0.1);
}

.logo-image.home-logo {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 300px;
  height: auto;
  background-color: #7d7464;
  ;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.hamburger-button {
  color: #7d7464;
}


/* SKILLS */

/* Contenedor de información de habilidades */
.skills-info-container {
  color: #7d7464;
}

.skills-section-title {
  color: #7d7464;
}

.skill-card-front{
  background-color: #e8dfd3;
}

.skill-card-front img {
  filter: sepia(90%) brightness(1) saturate(0.8);
}


.skill-card-back {
  color: rgb(40, 8, 8);
  border: 1px solid rgb(40, 8, 8);
  background-color: #d0c4b5;
}

.devices-image-wrapper {
  background-color: #7d7464;
  padding: 10px;
  display: inline-block;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.devices-image {
  filter: invert(1);
}


/* CONTACT */

/* Enlaces de contacto */
.contact-item a {
  color: #7d7464;
}

.contact-item a:hover {
  color: rgb(40, 8, 8);
  transform: scale(1.1);
}

.contact-item {
  color: #7d7464;
}

.contact-social-icons .contact-icon {
  color: #7d7464;
}

.contact-social-icons .contact-icon:hover {
  color: rgb(40, 8, 8);
}

.contact-contain-container .contact-info-container {
  background-color: #e8dfd3;
}

/* Campos del formulario */
.contact-form input,
.contact-form textarea {
  color: rgb(40, 8, 8);
  background-color: whitesmoke;
}


/* Estilo para el autofill */
.contact-form input:-webkit-autofill {
  background-color: #e8e8e8;
  box-shadow: 0 0 0px 1000px #e8e8e8 inset;
}

.contact-form button {
  background-color: #7d7464;
  color: #ebe6de;
}

.contact-form button:hover {
  background-color: rgb(40, 8, 8);

}

/* PROJECTS */

.content-card {
 color: #ebe6de;
}

.content-card .des {
  color: #ebe6de;
}

.content-card button {
  background-color: #ebe6de;
  color: rgb(40, 8, 8);
}

.content-card button:hover {
  background: #d0c4b5;
  color: #ebe6de;
}

.button button {
  color: #ebe6de;
}

.dot {
  background-color: #ebe6de;
}

.dot:hover {
  background-color: #ebe6de;
}

/* PROJECT DETAIL */

/* Descripción */
.project-description-tools {
  color: rgb(40, 8, 8);
}

/* Slider */
.project-gallery-slider {
  background-color: #e8dfd3;

}

.tool-item {
  color: rgb(40, 8, 8);
}