/* Contenedor principal */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #090909, #b3b3b3);
  padding: 2vh 2vw;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
}

/* Marco interno con borde degradado */
.home-inner-frame {
  width: calc(100% - 2rem);
  height: calc(100% - 6vh);
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #b3b3b3, #090909) 1;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 10vh;
  margin-bottom: 6vh;
  position: relative;
  flex-direction: column;
}


/* Línea superior con degradado en el centro */
.home-inner-frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right,
      #b3b3b3 5%,
      rgba(179, 179, 179, 0.5) 25%,
      rgba(179, 179, 179, 0.1) 30%,
      transparent 50%,
      rgba(9, 9, 9, 0.1) 70%,
      rgba(9, 9, 9, 0.5) 85%,
      #090909 95%);
  z-index: 1;
}

/* Efecto de brillo para el borde con sombra */
.home-inner-frame.glow-effect {
  animation: borderGlowShadow 5s ease-in-out forwards;
  /* Aumenta la duración para suavidad */
}

/* Definición de la animación de sombra */
@keyframes borderGlowShadow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.3);
  }

  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0);
  }
}

/* Contenedor del título superpuesto sobre la línea */
.home-title-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
}

/* Texto "Full Stack Developer" */
.home-title-text {
  font-family: 'Oooh Baby', cursive;
  font-size: clamp(2.5rem, 5vw, 6rem);
  color: white;
  text-align: center;
  margin: 0;
  white-space: nowrap;
}

/* Contenedor decorado */
.decorated-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 100%; /* Ocupa todo el alto disponible */
  padding: 40px;
  padding-top: 140px;
  margin-top: 4rem;
  margin-bottom: 3rem;
  /* border-radius: 18px; */
  max-width: 95%;

  /* Efecto contenedor principal */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px); /* Compatibilidad con navegadores basados en WebKit */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Borde translúcido para efecto de vidrio */
  box-shadow: 
    10px 10px 20px rgba(0, 0, 0, 0.4), 
    -10px -10px 20px rgba(255, 255, 255, 0.2); 
  background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
  transition: all 0.3s ease-in-out; 
  opacity: 0;
}



.home-contain-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  transform: translateY(-30%);
}

/* Contenedor de los enlaces */
.home-navigation-links {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

/* Estilo de los enlaces */
.home-nav-link {
  font-family: "Oooh Baby", cursive;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  text-decoration: none;
  color: white;
  opacity: 0;
  /* Oculto por defecto */
  transition: color 0.3s ease-in-out;
}

.home-nav-link:hover {
  color: #c0c0c0;
  font-size: 1.6rem;
}

/* Imagen del logo */
.logo-image {
  height: auto;
  max-width: 300px;
}

/* Media Queries para ajustar el tamaño del logo y el título */
@media screen and (min-width: 1000px) {
  .home-title-text {
    font-size: 5.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .home-title-text {
    font-size: 5.8rem;
  }
}

@media screen and (min-width: 1400px) {
  .home-title-text {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1600px) {
  .logo-image {
    max-width: 400px;
  }

  .home-title-text {
    font-size: 6.5rem;
  }
}

@media screen and (min-width: 2000px) {
  .home-title-text {
    font-size: 7.5rem;
  }

  .logo-image {
    max-width: 430px;
  }
}

@media screen and (max-height: 700px), (max-width: 1600px) {
  .home-container {
    height: auto;
    overflow-y: auto;
  }
}

@media screen and (max-width: 1000px) {
  .home-title-text {
    font-size: 5rem;
  }

  /* Logo arriba */
  .home-contain-container {
    transform: translateY(0);
    flex-direction: column;
    order: -1;
  }

  /* Enlaces abajo */
  .home-navigation-links {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
    align-items: center;
    text-align: center;
    flex-direction: column;
    order: 1;
    /* Asegura que los enlaces estén abajo */
  }
}

@media screen and (max-width: 768px) {
  .home-title-text {
    font-size: 4.5rem;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: normal;
    margin-top: 5rem;
  }

  .home-title-text span:last-child {
    margin-top: 0.5rem;
  }

  .decorated-container{
    margin-top: 8rem;
    padding-top: 20px;
  }

  .home-contain-container {
    margin-top: 4rem;
  }
  .logo-image {
    max-width: 260px;
  }
}

@media screen and (max-width: 480px) {
  .home-title-text {
    font-size: 3.5rem;
    margin-top: 4rem;
  }
  .home-inner-frame{
    padding-left: 10px;
    padding-right: 10px;
  }
  .decorated-container {
    margin-top: 6rem;
    padding-top: 0px;
}
}

@media screen and (max-width: 340px) {
  .home-title-text {
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  .decorated-container {
    margin-top: 4rem;
}
}