
 /* Contenedor principal de habilidades */
.skills-contain-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  padding-left: 5rem;
  padding-right: 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 18px;
  max-width: 95%;
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Contenedor de información de habilidades */
.skills-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  box-sizing: border-box;
  color: whitesmoke;
  text-align: justify;
  line-height: 1.6;
  font-family: 'Oooh Baby', cursive;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.skills-info-container img {
  width: 240px;
  height: auto;
  margin-right: 20px;
  display: block;
  object-fit: contain;
}

/* Sección de tarjetas de habilidades */
.skills-sections {
  display: flex;
  gap: 5rem;
}

.skills-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section-title {
  font-size: 1.8rem;
  font-family: 'Oooh Baby', cursive;
  text-align: center;
  color: white;
}

/* Contenedor de tarjetas */
.skills-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; /* Permite que use todo el espacio disponible */
  max-width: 360px; 
}

.skill-card {
  width: 70px;
  height: 70px;
  perspective: 1000px;
  margin: 10px;
}

.skill-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.skill-card:hover .skill-card-inner {
  transform: rotateY(180deg);
}

.skill-card-front,
.skill-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #b3b3b3;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-card-front img {
  width: 80%;
  height: auto;
  filter: grayscale(90%) brightness(0.8) contrast(130%);
}

.skill-card-back {
  transform: rotateY(180deg);
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to left, #090909, #090909);
}

@media screen and (max-width: 1600px) {
  .skills-sections {
    gap: 1rem;
  }
}

@media screen and (max-width: 1320px) {
  .skills-info-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }

  .skills-sections {
    gap: 3rem;
    padding-top: 0;
}

.skills-section-title {
  font-size: 1.7rem;
}

}


@media screen and (max-width: 1250px) {
  .skills-section-title,
  .skills-description {
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 1025px) {
  .skills-container {
    height: auto;
    overflow-y: auto;
  }
  
  .skills-sections {
    flex-direction: column;
    gap: 1rem;
  }

  .skills-description {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  .skills-info-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .skills-info-container img {
    margin-right: 0;
  }

  .skills-description {
    margin-top: -1rem;
    padding-bottom: 1rem;
  }
}


@media screen and (max-width: 768px) {
  .skills-description {
    font-size: 1.1rem;
  }
}


@media screen and (max-width: 480px) {
  .skills-description {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 340px) {
  .skills-description {
    font-size: 1.1rem;
  }
}