body.dark-mode {
  /* No aplica estilos adicionales */
  background: transparent;
  color: inherit;
}



.theme-toggle {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: currentColor;
  transition: transform 0.3s ease;
}

.theme-toggle:hover {
  transform: scale(1.2);
}